
%h1 Myアルバム一覧

%div.digg_pagination
  = will_paginate @albums, :container => false
%table
  %tr
    %th.list_menu タイトル
    %th.list_menu 公開してる
    %th
    %th

  - @albums.each do |album|
    %tr
      %td= album.title
      %td= public_value album.public_flag
      %td= link_to '詳細へ', album
      %td= link_to '削除する', album, :confirm => '削除してもいい?', :method => :delete

%br

