%p#notice= notice
%div.menu_text
  = link_to '画像を並べて表示', :action=>'show_album_photo_list' ,:controller=>'albums',:id=>@album.id
  &nbsp;&nbsp;|&nbsp;&nbsp;
  = link_to 'アルバムの内容を編集', edit_album_path(@album)
  &nbsp;&nbsp;|&nbsp;&nbsp;
  = link_to 'アルバムを削除', :action=>'destroy_album',:controller=>'albums',:id=>@album.id
  &nbsp;&nbsp;|&nbsp;&nbsp;
%br
%br
%div.show_album_detail
  %p
    %b タイトル:
    = @album.title
  %p
    %b アルバムの種類:
    = album_type_value @album.album_type
  %p
    %b アルバムの日付:
    =  @album.album_date.strftime("%Y年%m月%d日")
  %p
  %p
    %b 説明:
    = @album.description

= render 'photo_book'
  
