%p#notice= notice
= link_to '編集', edit_album_path(@album)
%br
%div.album_form
  %p
    %b タイトル:
    = @album.title
  %p
    %b 公開範囲:
    = public_value @album.public_flag
  %p
    %b 説明:
    = @album.description

= render 'photo_slide'
  
