%p#notice= notice
= link_to 'アルバムの内容を編集', edit_album_path(@album)
= link_to '3Dアルバム', :action=>'show_3d' ,:controller=>'albums',:id=>@album.id
%br
%div.album_form
  %p
    %b タイトル:
    = @album.title
  %p
    %b 公開範囲:
    = public_value @album.public_flag
  %p
    %b 説明:
    = @album.description

= render 'photo_slide'
  
