<%= form_for(@photo, :html => { :multipart => true }) do |f| %>
  <%= f.label :title %>:<%= f.text_field :title %><br>
  <%= f.label :description %>:<%= f.text_field :description %><br>
  画像:<%= f.file_field :photo %><br>
  アルバム選択：<%=f.select "album_id", options_from_collection_for_select(@albums,"id","title") %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
