%h1 画像一覧
%div.tag_cloud
  =@tag_name
  -tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag,css_class|
    =link_to tag.name, {:action=>'index', :tag=>tag.name}, :class=>css_class 
%br
%p#notice= notice
%br
%div.photo_list
  %div.digg_pagination
    = will_paginate @photos, :container => false,:previous_label=>'«前', :next_label=>'次»'
  %table
    %tr
      %th
      %th.list_menu タイトル
      %th
      %th

    - @photos.each do |photo|
      %tr
        %td= image_tag photo.photo.url(:thumb) 
        %td=  photo.title 
        %td= link_to '詳細', photo
        %td= link_to '削除する', :action=>'destroy_photo', :controller=>'photos',:id=>photo.id
%br
