=link_to 'アルバムを見る',:action=>'show_album_photo_list',:controller=>'albums',:id=>@photo.album_id
%br
%p#notice= notice
%br
%div.photo_form
  %p
    %b タイトル:
    = @photo.title
  %p
    %b 評価値:
    = @photo.point
  %p
    %b 詳細:
    = @photo.description
  %p
    = image_tag @photo.photo.url(:medium) 

