<!DOCTYPE html>
<html>
<head>
  <title>MyLife</title>
  <%= stylesheet_link_tag    "application" %>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/ui-darkness/jquery-ui.css" type="text/css" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
  <script type="text/javascript src="/assets/lds.coulisse.js"></script>
  <script type="text/javascript src="/assets/jQuery.ui.coulisseWrapper.js"></script>
  <!-- %= javascript_include_tag "lds.coulisse" % -->
  <!-- %= javascript_include_tag "jQuery.ui.coulisseWrapper" % -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user==nil %>
  <div class="login_btn">
      <%= image_tag "myLife.png" %><br>
      <%= link_to "Twitterでログイン", "/auth/twitter" %>&nbsp;&nbsp;
  </div>
<% else %>
  <section>
    <div class="login_user_info">
&nbsp;&nbsp;<img src="<%=current_user.profile_path %>"><a href="/users/<%=current_user.id %>/edit"><%=current_user.name %>さん</a>、こんばんは！&nbsp;&nbsp;&nbsp;&nbsp;|<a href="/logout">ログアウト</a>
    </div>
<%= render 'common/menu' %>
<%= yield %>
  </section>
<% end %>
</body>
</html>
