<!DOCTYPE html>
<html>
<head>
  <title>MyLife</title>
  <%= stylesheet_link_tag "photos_smart_phone" %>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/ui-darkness/jquery-ui.css" type="text/css" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <%= javascript_include_tag "photos_smart_phone" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user==nil %>
  <div class="login_btn">
      <%= image_tag "myLife.png" %><br>
      <%= link_to "Twitterでログイン", "/auth/twitter" %>&nbsp;&nbsp;
  </div>
<% else %>
  <section>
    <div class="smart_login_user_info">
      <img src="<%=current_user.profile_path %>"><%=current_user.name %>さん
    </div>
<%= render 'common/smart_phone/menu' %>
<%= yield %>
<br>
      <a href="/logout">ログアウト</a>
  </section>
<% end %>
</body>
</html>
